In [1]:
import datetime as dt
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [2]:
tw_weighted = pd.read_csv('^TWII_1997_2019.csv', index_col='Date', parse_dates=True)

In [3]:
tw_weighted.shape

(5516, 6)

In [4]:
tw_weighted.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1997-07-02,9094.269531,9124.299805,8988.129883,8996.719727,8996.686523,0.0
1997-07-03,9061.599609,9061.599609,8997.509766,9027.629883,9027.596680,0.0
1997-07-04,9144.959961,9218.209961,9119.250000,9192.570313,9192.536133,0.0
1997-07-07,9365.190430,9370.410156,9304.820313,9322.839844,9322.805664,0.0
1997-07-08,9345.549805,9371.500000,9282.099609,9305.269531,9305.235352,0.0

In [5]:
#data cleaning
tw_weighted = tw_weighted.dropna() 

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
training_cols = ["Open","High","Low","Close","Ad Close","Volume"]
df_train, df_test = train_test_split()