In [41]:
import numpy as np
import pandas as pd
from openpyxl import load_workbook

In [43]:
df_assets = pd.read_excel("資產總額/上市櫃20160428-20180428.xlsx",index_col='公司').dropna()
df_assets.head()
corr_a = df_assets['log(assets)'].mean()

In [39]:
df_day_trade = pd.read_csv("報酬率_pei/日報酬csv/上市上櫃公司20160428_20180428.csv")[3::4]
df_day_trade['mean'] = df_day_trade.mean(axis=1)
df_day_trade = df_day_trade[['證券代碼','mean']]
df_day_trade.head()

       證券代碼      mean
3   1101 台泥  4.119633
7   1102 亞泥  3.968045
11  1103 嘉泥  3.228534
15  1104 環泥  1.096456
19  1108 幸福  1.813727

In [44]:
df_assets.index

Index(['1210 大成', '1312 國喬', '1321 大洋', '1341 富林-KY', '1409 新纖', '1435 中福',
       '1445 大宇', '1470 大統新創', '1472 三洋紡', '1525 江申',
       ...
       '8482 商億-KY', '8489 三貝德', '8933 愛地雅', '8936 國統', '8941 關中', '9905 大華',
       '9912 偉聯', '9927 泰銘', '9942 茂順', '9943 好樂迪'],
      dtype='object', name='公司', length=182)

In [ ]:
for comp in range(len(df_day_trade)):