In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("old_data/成交量_juu/上市櫃20130613-20140630.csv", thousands=',')

In [2]:
df.head()

,代碼,Data Field,2014/6/30,2014/6/27,2014/6/26,2014/6/25,2014/6/24,2014/6/23,2014/6/20,2014/6/19,...,2013/6/26,2013/6/25,2013/6/24,2013/6/21,2013/6/20,2013/6/19,2013/6/18,2013/6/17,2013/6/14,2013/6/13
0,1101 台泥,成交量(千股),4902.00,4172.00,7980.0,6401.00,3667.00,7586.00,8081.00,6808.00,...,0,0,0,0,0,0,0,0,0,0
1,1101 台泥,現股當沖比重,4.73,0.17,0.0,6.09,0.33,0.82,0.19,0.43,...,0,0,0,0,0,0,0,0,0,0
2,1102 亞泥,成交量(千股),3762.00,4340.00,4816.0,5046.00,6559.00,5211.00,7144.00,10119.00,...,0,0,0,0,0,0,0,0,0,0
3,1102 亞泥,現股當沖比重,0.58,0.16,0.0,4.36,0.29,0.27,0.06,0.00,...,0,0,0,0,0,0,0,0,0,0
4,1216 統一,成交量(千股),4497.00,3577.00,4459.0,9256.00,8142.00,3241.00,4686.00,3916.00,...,0,0,0,0,0,0,0,0,0,0

In [3]:
tmp = df.iloc[:,2:].astype(np.float32)
tmp['comp_mean'] = tmp.mean(axis=1)
tmp['comp_mean'][0::2].mean()

2474.6042

In [60]:
import math
math.sqrt(0.5)

0.7071067811865476

In [61]:
192/17

11.294117647058824

In [62]:
192/3

64.0

In [4]:
70+58

128

In [7]:
(5800+7000)/261

49.04214559386973

In [8]:
(4800+4500)/261

35.632183908045974