In [7]:
import datetime as dt
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
plt.style.use('ggplot')
%matplotlib inline

In [2]:
tw_weighted = pd.read_csv('^TWII_1997_2019.csv', index_col='Date', parse_dates=True)

In [3]:
tw_weighted.shape

(5516, 6)

In [4]:
tw_weighted.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1997-07-02,9094.269531,9124.299805,8988.129883,8996.719727,8996.686523,0.0
1997-07-03,9061.599609,9061.599609,8997.509766,9027.629883,9027.596680,0.0
1997-07-04,9144.959961,9218.209961,9119.250000,9192.570313,9192.536133,0.0
1997-07-07,9365.190430,9370.410156,9304.820313,9322.839844,9322.805664,0.0
1997-07-08,9345.549805,9371.500000,9282.099609,9305.269531,9305.235352,0.0

In [5]:
#data cleaning
tw_weighted = tw_weighted.dropna()

In [6]:
tw_weighted.shape

(5377, 6)

In [9]:
tw_weighted_adj_close = tw_weighted.iloc[:,[4]]

In [14]:
tw_weighted_adj_close.head()

              Adj Close
Date
1997-07-02  8996.686523
1997-07-03  9027.596680
1997-07-04  9192.536133
1997-07-07  9322.805664
1997-07-08  9305.235352

In [16]:
# data normalization
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0,1))
tw_weighted_adj_close_scaled = sc.fit_transform(tw_weighted_adj_close)

In [25]:
X_train = []
y_train = []
for i in range(60,5377):
    X_train.append(tw_weighted_adj_close_scaled[i-60:i, 0])
    y_train.append(tw_weighted_adj_close_scaled[i,0])
X_train,y_train = np.array(X_train), np.array(y_train)

In [26]:
X_train.shape

(5317, 60)

In [33]:
y_train.shape

(5317,)

In [35]:
X_train

array([[0.71096921, 0.71492857, 0.73605606, ..., 0.71062334, 0.6847219 ,
        0.67539555],
       [0.71492857, 0.73605606, 0.7527426 , ..., 0.6847219 , 0.67539555,
        0.67409286],
       [0.73605606, 0.7527426 , 0.75049198, ..., 0.67539555, 0.67409286,
        0.67232383],
       ...,
       [0.85108869, 0.85088754, 0.84778393, ..., 0.93081471, 0.91099879,
        0.90599805],
       [0.85088754, 0.84778393, 0.85809537, ..., 0.91099879, 0.90599805,
        0.91130876],
       [0.84778393, 0.85809537, 0.85898939, ..., 0.90599805, 0.91130876,
        0.90028005]])

In [34]:
y_train

array([0.67409286, 0.67232383, 0.64794024, ..., 0.91130876, 0.90028005,
       0.88868769])

In [36]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

ModuleNotFoundError: No module named 'keras'